@media screen and (max-width: 1024px) {

}
/* Por debajo de 768px se aplica lo siguiente */
@media screen and (max-width: 767px) {
    .header {
        display: block;
        padding: 16px 32px;
        height: auto;
    }
    .header ol {
        flex-direction: column;
        flex: 1;
    }
    .header ol li {
        height: 48px;
    }
    .header .logo {
        text-align: center;
    }
    .header .logo figure {
        padding-left: 32px;
    }
    .hero {
        justify-content: center;
        flex-wrap: wrap;
        padding: 1em;
    }
    .hero h1{
        font-size: 1.5em;
    }
    .hero img {
        min-width: 100%;
    }

    .course {
        margin: .5em;
        padding: 1.5em;
        flex-wrap: wrap-reverse;
    }
    .course_details {
        width: 100%;
        margin-top: -56px;
        z-index: 1000;
    }
    .course_details .course_title {
        width: 50%;
        padding: 16px;
        font-size: 1.5em;
        margin: 0 auto;
        text-align: center;
        background: white;
        
    }
    .course_details .course_date {
        font-size: 1em;
        
    }
    .course_details .course_description {
        font-size: 1.2em;
        
    }
    .course_details .course_duration {
        font-size: 1.2em;
        
    }
    .course .course_image_container {
        width: 100%;
    }
}
@media screen and (max-width: 479px) {
    .course_details {
        font-size: 12px;
    }

    .contact form label{
        font-size: 1.5em;
        text-align: center;
    }
    footer {
        flex-wrap: wrap;
    }
    footer .linkFacebook {
        width: 100%;
    }
    footer .linkFacebook a {
        padding: 1em 0;
    }
    footer .description {
        width: 100%;
        min-height: 500px;
        flex-direction: column;
        align-items: baseline;
        min-height: 100px;
    }

}
@media screen and (max-width: 319px) {
    .course_details {
        font-size: 10px;
    }
}
