
/* Icomoon */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?tixd3c');
    src:  url('../fonts/icomoon.eot?tixd3c#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?tixd3c') format('truetype'),
      url('../fonts/icomoon.woff?tixd3c') format('woff'),
      url('../fonts/icomoon.svg?tixd3c#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e9bd";

  }
  
/* Icomoon */


body {
    --grisOscuro: #1d252c;
    --grisClaro: #626262;
    --backgroundBlue: #1b2127;
    /* --backgroundGrisClaro: #fafafa; */
    --backgroundGrisClaro: #f3f5f7;
    --text: #112f4c;
    --blue: #056fff;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    
}
a {
    display: flex;
    align-items: center;
    color: white;
    height: inherit;
    padding: 0 12px;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, figure {
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}
h1 {
    color: white;
    font-size: 42px;
    line-height: 1.5;
    letter-spacing: -.2px;
    margin: 0;
}
h1 strong,
section h2 {
    color: var(--blue);
}

footer {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
    background: var(--grisOscuro);
}
footer .description {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    margin: 0;
    color: white;
}
footer img {
    width: 72px;
    height: 32px;
}
section div h2 {
    padding: 32px 0;
}

#header {
    top: 0;
    right: 0;
    left: 0;
    display: grid;
    z-index: 3;
    padding: 16px 10%;
    position: fixed;
    background-color: var(--grisOscuro);
    box-shadow: 0px 6px 10px 0px #070b0fb3;
    grid-template-columns: 130px 1fr;
    grid-template-rows: 30px 30px;
    grid-template-areas:    "text nav-bar"
                            "img nav-bar" ;
}
#header #header-img {
    width: auto;
    height: 32px;
    grid-area: text;
}

#header figure {
    margin: 0;
    margin-top: -16px;
    grid-area: img;
}

#header > #nav-bar {
    display: grid;
    grid-area: nav-bar;
    justify-items: end;

}

#header ol li:last-child a {
    padding: 16px;
    border-radius: .5em;
    border: 1px solid white;
}

#header ol {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

#header .burger-menu {
    display: none;
}

.hero  {
    margin-top: 90px;
    position: relative;
    min-height: 540px;
    align-items: center;
    background-color: var(--grisOscuro);

}
.hero h1 {
    position: relative;
    z-index: 2;
    padding-left: 1em;
}
.hero h1 strong {
    text-shadow: 0px 2px 8px #76a3ccbf;
}
.hero-content {
    grid-column: 2 / 1 span;
}

.hero img {
    width: 100%;
    height: 100%;
    opacity: .8;
    object-fit: cover;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.courses {
    height: max-content;
    padding: 0 1em 1em;
    background: var(--backgroundGrisClaro);
}
.courses .courses-title {
    margin-top: 16px;
    font-size: 1.7em;
    padding-bottom: 8px;
    margin-bottom: 24px;
    border-bottom: 4px solid var(--blue);
}
.courses .courses-title,
.courses .course {
    grid-column: 2 / 1 span;
}
.course {
    display: flex;
    padding: 32px;
    margin: 1em;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 1px 4px 8px -2px lightgrey;
    border: 1px solid lightgray;
}
.course h3 {
    color: var(--text);
}
.course p {
    color: var(--text);
    margin: .5em 0;
}
.course_details {
    width: 50%;
    padding-right: .5em;
}
.course_details .course_title {
    font-size: 1.5em;
}
.course_details button {
    display: block;
    margin: 0 auto;
}
.course_details button,
.contact #form button {
    font-size: 1em;
    padding: 8px 20px;
    color: var(--blue);
    max-width: 120px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid var(--blue);
}
.course_details .course_duration {
    margin-bottom: 2em;
}
.course_image_container {
    margin: 0;
    width: 50%;
}
.course_image_container img{
    width: 100%;
}
.testimonies {
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
}
.testimonies .testimonies-title {
    grid-column: 2 / 2 span;
    margin: 1.5em 0;
    padding-bottom: .5em;
    border-bottom: 4px solid var(--blue);
}
.testimonies .testimony:nth-child(even) {
    grid-column: 2 / 1 span;
}
.testimonies .testimony:nth-child(odd) {
    grid-column: 3 / 1 span;
}

.testimony {
    max-width: 380px;
    margin: .5em;
    padding: 32px 24px;
    background: var(--backgroundGrisClaro);
    text-align: center;
    display: flex;
    border-radius: 12px;
    box-shadow: 1px 4px 8px -2px lightgrey;
    flex-direction: column;
    align-items: center;
}
.testimony p {
    width: inherit;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 1em;
    height: auto;
    font-weight: bold;
    color: var(--text);
    box-sizing: border-box;
    border-radius: 1em;

}
.testimony figure {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    margin: .5em 0;
    border: 1px solid lightgray;
}
.testimony figure img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
}


.contact {
    color: white;
    height: 196px;
    padding: 2em 1em;
    display: flex;
    align-items: center;
    background-color: var(--blue);
}
.contact #form {
    display: flex;
    max-width: 423px;
    width: 100%;
    height: 196px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact #form label {
    font-size: 32px;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
}
.contact #form input {
    width: inherit;
    border: none;
    color: var(--grisOscuro);
    padding: 8px 4px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 27px;
}
.contact #form #submit {
    align-self: center;
    background: transparent;
    border: 1px solid white;
    padding: 8px;
    border-radius: 4px;
    color: white;
}


.container {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
}
