

body {
    --grisOscuro: #1d252c;
    --grisClaro: #626262;
    --backgroundBlue: #1b2127;
    --backgroundGrisClaro: #fafafa;
    --blue: #056fff;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    
}
a {
    display: flex;
    align-items: center;
    color: white;
    height: inherit;
    padding: 0 12px;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, figure {
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}
h1 {
    color: white;
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: -.2px;
    margin: 0;
}
h1 strong,
section h2 {
    color: var(--blue);
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 32px;
    background: var(--grisOscuro);
}
footer .description {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    margin: 0;
    color: white;
}
footer img {
    width: 72px;
    height: 32px;
}
section div h2 {
    padding: 32px 0;
}

.header {
    display: flex;
    min-height: 72px;
    padding: 0px 32px;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: var(--grisOscuro);
    box-shadow: 0px 6px 10px 0px #070b0fb3;
}
.header figure {
    margin: 0;
    display: inline;
}

.header nav,
.header ol,
.header ol li {
    display: flex;
    height: inherit;
    align-items: center;
}
.header ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header .logo {
    display: flex;
    flex-direction: column;
}
.header .logo h2 {
    color: white;
    padding-left: 8px;
    font-size: 18px;
}
.header .logo figure {
    margin-top: -20px;
}

.hero  {
    display: flex;
    min-height: 340px;
    padding: 32px 0;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--grisOscuro);

}
.hero h1 {
    /* height: inherit;
    padding: 8px 8px 0px 0px; */
}
.hero img {
    object-fit: cover;
}

.courses {
    height: max-content;
    padding-bottom: 16px;
    background: var(--backgroundGrisClaro);
}
.course {
    display: flex;
    padding: 32px;
    margin: 16px 0;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 1px 4px 8px -2px lightgrey;
    border: 1px solid lightgray;
}
.course_details {
    width: 500px;
}
.course_details button,
.contact form button {
    padding: 8px 20px;
    color: var(--blue);
    max-width: 120px;
    border: 1px solid var(--blue);
    font-size: 1em;
    border-radius: 4px;
}
.course_image_container {
    margin: 0;
    width: 500px;
}
.course_image_container img{
    width: 100%;
}
.testimonies {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding-bottom: 32px;
    justify-content: space-evenly;
}
.testimonies h2 {
    width: 100%;
}

.testimony {
    width: 380px;
    margin: 12px;
    padding: 32px 24px;
    background: var(--backgroundGrisClaro);
    text-align: center;
    display: flex;
    border-radius: 12px;
    box-shadow: 1px 4px 8px -2px lightgrey;
    flex-direction: column;
    align-items: center;
}
.testimony p {
    width: inherit;
    letter-spacing: 2px;
    font-weight: 500;
    margin: 0;
    height: 88px;
    color: var(--grisOscuro);
    box-sizing: border-box;
    border-radius: 12px;

}
.testimony figure {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    border: 1px solid lightgray;
}
.testimony figure img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    border: 1px solid lightgray;
}
.contact {
    color: white;
    height: 196px;
    padding: 32px 0px;
    display: flex;
    align-items: center;
    background-color: var(--blue);
}
.contact form {
    display: flex;
    width: 423px;
    height: 196px;
    justify-content: space-evenly;
    flex-direction: column;
}
.contact form label {
    font-size: 32px;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
}
.contact form input {
    width: inherit;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 27px;
}
.contact form button {
    align-self: center;
    background: transparent;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
}

.container {
    height: inherit;
    flex: 1;
    max-width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    flex-direction: inherit;
}