

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    --grisOscuro: #1d252c;
    --grisClaro: #626262;
    --backgroundBlue: #1b2127;
    --backgroundGrisClaro: #fafafa;
    --blue: #026fff;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}
h1 {
    color: white;
    font-size: 32px;
    margin: 0px 32px;
    line-height: 1.5em;
}
h1 strong {
    color: var(--blue);
}
.header {
    background-color: var(--grisOscuro);
}
.header ol {
    list-style: none;
    margin: 0;
}
.header figure {
    margin: 0;
}
.header a {
    color: white;
    text-decoration: none;
}
.hero  {
    display: flex;
    background-color: var(--grisOscuro)
}
.courses {
    background: var(--backgroundGrisClaro);
}
.course {
    display: flex;
    margin: 16px;
    margin-bottom: 20px;
    padding: 32px;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid lightgray;
}
.course_details {
    width: 500px;
}
.course_image_container {
    margin: 0;
    width: 500px;
}
.course_image_container img{
    width: 100%;
}